<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V7SCQSKMXM"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-V7SCQSKMXM');
</script>
<div class="text-center bg-info bg-opacity-50 py-2">
    <b><a href="https://www.sqlexplorer.io">SQL Explorer</a> Demo Environment</b>
    <div>
        This environment resets nightly. Any data or connections you add are public.
    </div>
</div>
